version: "3.9"
services:
  db:
    image: postgres:15
    container_name: stock_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: user1
      POSTGRES_DB: stockdb
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./docker/database:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

volumes:
  db-data:
